a2a-sdk==0.3.22
adk==0.0.5
async==0.6.2
Authlib==1.6.5
boto3==1.42.11
boto3-stubs==1.42.16
botocore==1.42.11
botocore-stubs==1.42.16
brotli==1.2.0
cachetools==6.2.2
certifi==2025.11.12
cffi==2.0.0
cfgv==3.5.0
charset-normalizer==3.4.4
click==8.3.1
cloudpickle==3.1.2
colorama==0.4.6
comm==0.2.3
contourpy
dataclasses-json==0.6.7
datasets
Events==0.5
fastapi==0.121.2
fastuuid==0.14.0
filelock==3.20.1
fire==0.7.1
fonttools==4.60.1
frozendict==2.4.7
frozenlist==1.8.0
fsspec==2025.10.0
gitdb==4.0.12
GitPython==3.1.45
google-adk
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-cloud-aiplatform
google-genai
google-generativeai
h11==0.16.0
h2==4.3.0
hf-xet==1.2.0
hpack==4.1.0
httpcore==1.0.9
httplib2==0.31.0
huggingface_hub==1.2.3
langchain
langchain-community
langchain-core
langchain-openai
langchain-text-splitters
litellm
markdown-it-py
markdownify
MarkupSafe
mcp
mdurl
mem0ai
mpmath
node==1.2.3
nodeenv==1.9.1
nodejs==0.1.1
nova-act==3.0.67.0
npm==0.1.1
npx==0.1.6
openai==1.109.1
opensearch-protobufs==0.19.0
opensearch-py==2.8.0
prompt_toolkit==3.0.52
pure_eval==0.2.3
PyJWT==2.10.1
qdrant-client==1.16.1
ragas==0.4.1
referencing==0.37.0
regex==2025.11.3
requests==2.32.5
retry==0.9.2
retrying==1.4.2
rich==14.2.0
rpds-py==0.30.0
rsa==4.7.2
socksio==1.0.0
soupsieve==2.8
SQLAlchemy==2.0.45
sqlalchemy-spanner==1.17.1
sqlparse==0.5.3
strands-agents==1.14.0
strands-agents-tools==0.2.13
tokenizers==0.22.1
